<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>ChocoS</string>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>WriterPad Binder Move Payload</string>
			<key>UTTypeIdentifier</key>
			<string>com.chocos.writerpad.binder-move</string>
		</dict>
	</array>
	<key>UIAppFonts</key>
    <array>
        <string>malgun.ttf</string>
        <string>malgunbd.ttf</string>
        <string>malgunsl.ttf</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
</dict>
</plist>
